.header__title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0px 0px 0px 64px;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: transform 10s ease-in-out;
}
